.QuestionList {
    background: beige;
    max-width: 500px;
   display: inline-block;
   vertical-align: top;   
   margin: 20px;
   transition: width 1s ease;
   
}

.QuestionList-header, .QuestionList-body{
    min-width: 310px;
    text-align: center;
    background: #61dafb;
    color: rgb(94, 94, 94);
    padding-top: 10px;
}

.QuestionList-body {
    min-width: 0px;
    padding-top: 0px;
}



.QuestionList-body {
    background: beige;
    color: black;
}

.QuestionList-item{
    width: 450px;
    display: inline-block;
    padding-bottom: 10px;
}

.QuestionList-row{
    padding: 15px 0;
}


.QuestionList-item-option {
    display: inline-block;
    width: 140px;
    padding-bottom: 5px;
}

.showing {
    animation: showing 1 .5s linear;
    overflow: hidden;
}

@keyframes showing {
    from { max-width: 0px;  }
    to {  max-width: 1000px; }
  }