.SurveyList {
    background: beige;
    max-width: 500px;
   display: inline-block;
   vertical-align: top;
   margin: 20px;
}  


.SurveyList-header, .SurveyList-body{
    min-width: 310px;
    text-align: center;
    background: #61dafb;
    color: rgb(94, 94, 94);
    padding-top: 10px;
}



.SurveyList-body {
    background: beige;
    color: black;
}

.SurveyList-item{
    width: 200px;
    display: inline-block;
    padding-bottom: 10px;    
}

.SurveyList-row{
    padding: 5px 0;
}

.SurveyList-row:nth-child(even){
    
    background: rgb(247, 247, 236);
}

.SurveyList-body .SurveyList-item:hover, .active {
    color: blue;
    cursor: pointer;
}